
  h1 {
    margin: 2% auto;
    text-align: center;
    }

  .yeller {
    color: #ffff84;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
  }
.smaller {
  border: .5px solid black;
  border-radius: 5px;
  margin: 2% auto;
  font-size: 2rem;
  text-align: center;
  width: 50%;
}
