<div class="container friend-list">
  <h2>You've crossed streams with...</h2>
  <table class="u-full-width">
      <thead>
        <tr>
          <th>Pic</th>
          <th>Streamer Username</th>
          <th>Streamer PassStream</th>
          <th># of Stream Buddies</th>
          <th>Steadily Streamed Songs</th>
          <th>Streamer ID</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="friend in friendCtrl.allFriends" ng-click="friendCtrl.showDetails()">
          <!-- style="background-image: url({{friend.picture}}) -->
          <td><div class="tiny-friend"></div></td>
          <td>{{friend.email}}</td>
          <td>{{friend.password}}</td>
          <td>{{friend.friends}}</td>
          <td>{{friend.songsLiked}}</td>
          <td>{{friend.id}}</td>
        </tr>
      </tbody>
    </table>
</div>
