<div class="container for-login">
  <form name="login-form" novalidate ng-submit="newCtrl.grabForm(login-form.$viewValue);">
    <div class="row">
      <div class="six columns">
        <label for="exampleEmailInput">Pick a Username</label>
        <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
      </div>
      <div class="six columns">
        <label for="exampleEmailInput">Enter Your Password</label>
        <input class="u-full-width" type="password" placeholder="password" id="exampleEmailInput">
      </div>
    </div>
    <input class="button" type="submit" value="Sign-Up">
  </form>
</div>
