<div class="container song-list">
  <h2>In the stream....</h2>
  <table class="u-full-width">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Year</th>
          <th>Listen Now</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="song in listCtrl.allSongs track by song.web_url" ng-click="listCtrl.showDetails()">
          <td>{{song.title}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.year}}</td>
          <td><a href={{song.web_url}}><img class="tiny-icon" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Audio-icon.png"></a></td>
        </tr>
      </tbody>
    </table>
</div>
