<div class="container song-list">
  <h2>In the stream....</h2>
  <table class="u-full-width">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Year</th>
          <th>Listen Now</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>In a Black Out</td>
          <td>Hamilton Leithauser + Rostam</td>
          <td>2016</td>
          <td><img class="tiny-icon" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Audio-icon.png"></td>
        </tr>
      </tbody>
    </table>
</div>
